body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.logo-container {
  text-align: right;
  flex-shrink: 0;
  width: 100px;
  height: auto;
}

.logo {
  width: 100px; /* Adjust the width to make the logo smaller */
  height: auto; /* Maintain aspect ratio */
}

h1 {
  text-align: center;
  flex: 1;
}

fieldset {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
}

legend {
  font-weight: bold;
  background-color: #e0e0e0;
  padding: 5px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

label {
  flex: 1;
  margin-right: 10px;
}

input {
  flex: 1;
  margin-right: 10px;
}

input:invalid {
  border: 2px solid red;
}

input:valid {
  border: 2px solid green;
}

.error {
  color: red;
  font-size: 0.8em;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

button:hover {
  background-color: #45a049;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.popup.show {
  display: block;
}

.margin {
  margin: 20px; /* Adds 20px margin on all sides */
}

.center-text {
  text-align: center;
}

.right-text {
  text-align: right;
}